<a href='/'>Back</a>
<h1>Products</h1>
<table>
  <thead>
    <th>View</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
  </thead>
  <tbody>
    <% products.forEach( function(product) { %>
      <tr>
        <td>
          <a href=<%= '/products/' + product.id %> >Show</a>
        </td>
        <td><%= product.name %></td>
        <td>$<%= product.base_price %></td>
        <td><%= product.description %></td>
      </tr>
    <% }); %>
  </tbody>
</table>